body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-password {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loginForm {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loginForm label {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.pb1 {
  padding-bottom: 8px;
}

.mb1 {
  margin-bottom: 16px;
}

nav {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: 12px 0 0 0;
  font-size: 12px;
  color: black;
}

.btn {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
}

.table {
  border-collapse: collapse;
  width: 50%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.container-password form {
  width: 30%;
}
